/* header related styles */

header>div {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
}
header h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}
header h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}
header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px 140px 120px;
    border-radius: 16px;
}
.banner-tittle-first {
    text-align: center;
    padding-top: 177px;
}
.banner-tittle-second {
    text-align: center;
    padding: 0 344px 177px;
    margin-top: 10px;
}

/* main related styles */

.inter {
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.first {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}

#third {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

#second {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}

#image {
    width: 802.9px;
    height: 500px;
    margin-bottom: 120px;
}

/* greeting */

#greeting {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    margin-bottom: 0;
}

.greeting-container {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    margin: 0 140px 120px;
    width: 1320px;
    height: 600px;

}
.greeting-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 0;
}
#greeting-button {

    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    margin-left: 158px;
}
.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#greeting-image {

    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    margin-right: 138px;
}
#greeting,
.greeting-description {
    margin-left: 126px;
}

/* schedule styles */
.main-div {
    background-color: rgba(255, 0, 0, 0.10);
    margin: 0 140px 120px;
    border-radius: 8px;

}

.sub-div {
    text-align: center;
    padding: 100px 350px 110px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}
.red {
    color: #F00;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    background-color: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
}

/* circle related styles */
#circle-container {
    margin: 0 140px 120px;
    display: flex;
    gap: 118px;
}
.offer {
    display: inline-block;
}
#image-circle {
    padding: 49px;
    border-radius: 463px;
    border: 15px solid #F00;
}
#first-offer {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#second-offer {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.third-offer {
    color: rgba(7, 2, 17, 0.60) font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px
}

#shall {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/* girl section */
#girl-tittle-second {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#girl-tittle-span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#girl-description {
    width: 1068px;
}

#girl-tittle-first {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#girl {
    margin: 0 140px 120px;
    text-align: center;
}

#girl-tittle-second {
    padding-bottom: 5px;
}
#pretty{
    background-image:url('../images/Rectangle\ 1.png') ;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 155px;
    padding: 0;
}

#rectangle {
    margin: 0 140px 120px;

}

.inline{
    display: inline;
}

/* portfolio */
#Portfolio-first {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#Portfolio-second {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 5px;
}

#Portfolio-third {

    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
    margin-top: 5px;
}

#images {
    display: flex;
    gap: 24px;
}

#images-second {
    display: flex;
    gap: 24px;
}
#images img:hover{
    transform: scale(1.1);
}
#images-second img:hover{
    transform: scale(1.1);
}

.images-container {
    margin: 0 140px 120px;
}


/* subscribe styles */
#Subscribe {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin: 0 140px 120px;
    text-align: center;
}

#subscribe-tittle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

}
#subscribe-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    /* width: 896px; */
    text-align: center;
    margin: 10px 212px 0;
}
#email-image{
    margin-top: 80px;
}
#box{
    /* position: absolute; */
    /* margin-top: 48px 330px 330px 80px; */
    /* width: 648px;
    height: 72px; */
    padding: 25px 30px;
    border-radius: 50px;
}
#btn{
    /* display: flex;
    margin-left: -5px; */
    padding: 25px 30px;
    border-radius: 50px;
    margin-top: 20px;
}
#s{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    background-color: #F00;
    font-weight: 600;
    border-radius: 0px 50px 50px 0px;
    padding: 10px 30px;
    border: none;
    margin-left: -20px;

}
#e{
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-radius: 50px;
    background: #FFF;
    padding:10px 0 10px 5px ;
    border: none;
}

/* footer styles */
#footer{
    background: #070211;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}
.icon-first{
    display: inline;
}
#footer{
    display: flex;
    justify-content: space-between;
}
.information li{
    display: inline-flex;
    justify-content: space-between;
}
#footer-description{
    margin: 120px 0 0 0 140px;
}
.pic{
    width: 30px;
    /* height: 24px; */

}
#footer{
    padding: 120px 140px;
    height: 400px;
}
#social-icon{
    padding-top: 200px;
    padding-left: 10px;
}
#rights{
    /* position: left bottom; */
    padding-top: 350px;
    
}